RewriteEngine on 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(\w+)/(([[:xdigit:]]{2})([[:xdigit:]]{2})[[:xdigit:]]{36})($|[./]) $1/${lc:$3}/${lc:$4}/${lc:$2}
